<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" data-theme="light">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    {{ if not .IsHome }}
    <div class="reading-progress"></div>
    {{ end }}

    {{ if not (eq .Type "posts") }}
    {{ partial "header.html" . }}
    {{ end }}

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    {{ if not (eq .Type "posts") }}
    {{ partial "ambient-bar.html" . }}
    {{ end }}

    <script src="{{ "js/main.js" | absLangURL }}"></script>
</body>
</html>
